{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FastCart</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet">

</head>

<body>

<img class="glasses" style="opacity: 0"
     src="https://pbs.twimg.com/profile_images/498573487003299840/04ox7YAv.png"
     alt="">

<div class="welcome temp-block">
    <img src="/project/static/img/logo.jpg" alt="">
    <div class="welcome-text">Добро пожаловать!</div>
</div>
<div class="no-product temp-block">Нет продукта!</div>

<div class="block-ok">
    <div class="block-ok-inner"></div>
</div>

<div class="main-block">
    <div class="img-block">
        <img src="" alt="product">
    </div>
    <div class="info-block">
        <h1>Пусто</h1>
        <div class="country">Из Европы</div>
        <p></p>
        <div class="footer">
            <div class="cost">0 ₽</div>
            <button class="btn">Купить</button>
        </div>
    </div>
</div>

<div class="list-block"></div>

<script src="{% static "js/jquery.js" %}"></script>

<script>
    var currentId = 0;
    var currentData = {};
    var timeDelay = 1000;

    function getData() {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/api/goods/',
            success: function (data) {
                if (data.name === 'none' || data.name === undefined) {
                    $('.main-block').hide();
                    $('.list-block').hide();
                    if (!$('.welcome').is(":visible")) {
                        $('.no-product').show();
                    }
                } else {
                    $('.glasses').hide();
                    {#                    $('.main-block').show();#}
                    $('.no-product').hide();
                    $('.welcome').hide();
                }

                if (currentId !== data.id) {
                    currentId = data.id;
                    console.log(data);
                    $('.info-block h1').html(data.name);
                    $('.img-block img').attr('src', data.image);
                    $('.cost').html(data.cost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ' ') + ' ₽');
                    $('.info-block p').html(data.description);

                    if (data.parent) {
                        timeDelay = 10000;
                    } else {
                        timeDelay = 1000;
                    }

                    if (data.children.length > 0) {
                        $('.main-block').hide();
                        $('.list-block').show();

                        var html = '';

                        for (var i in data.children) {
                            html += '' +
                                '<div class="img-block">' +
                                '<img src="' + data.children[i].image + '" alt="product">' +
                                '<div class="img-text children" name="' + data.children[i].code + '">' + data.children[i].name +
                                '</div>' +
                                '</div>';
                        }

                        $('.list-block').html(html);

                        $('.children').click(function () {
                            $.ajax({
                                type: 'GET',
                                dataType: 'json',
                                url: '/api/post-goods/?code=' + $(this).attr('name') + '&weight=' + currentData.weight,
                                success: function (data) {
                                    getData();
                                    timeDelay = 10000;
                                }
                            });

{#                            $('.glasses').show();#}
{##}
{#                            $('.glasses').css({#}
{#                                'width': '400px',#}
{#                                'top': '-100px',#}
{#                                'left': '-300px',#}
{#                                'opacity': '0'#}
{#                            }).animate({#}
{#                                'top': $(window).height() - 100,#}
{#                                'left': $(window).width() - 200,#}
{#                                'opacity': '1'#}
{#                            }, 500, function() {#}
{#                                $('.glasses').css({#}
{#                                    'opacity': '0'#}
{#                                });#}
{#                            });#}
                        });
                    } else {
                        if (data.name !== 'none' && data.name !== undefined) {
                            $('.main-block').show();
                        }

                        $('.list-block').hide();
                    }
                }

                currentData = data;
                successData = true;
            }
        });
    }

    $(function () {
        $('.glasses').animate({
            'width': '100px',
            'top': $('.welcome img').position().top + 30,
            'left': $('.welcome img').position().left + 50,
            'opacity': '1'
        }, 1000);

        setInterval(function () {
            $('.glasses').hide();
            $('.welcome img').animate({
                    'margin-left': '100%',
                    'opacity': '0'
                },
                {
                    step: function (now) {
                        // in the step-callback (that is fired each step of the animation),
                        // you can use the `now` paramter which contains the current
                        // animation-position (`0` up to `angle`)
                        $('.welcome img').css({
                            transform: 'rotate(' + -now + 'deg)'
                        });
                    }
                }, 1000);
        }, 2000);

        function start() {
            getData();

            setTimeout(function () {
                start();
            }, timeDelay);
        }
        start();

{#        setTimeout(function () {#}
{#            getData();#}
{#        }, timeDelay);#}
    });

    $('.btn').click(function () {
        $('.block-ok').fadeIn('fast', function () {
            setTimeout(function () {
                $('.block-ok').fadeOut('fast');
            }, 1000);
        });

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/api/post-goods/?is_bought=1&code=' + currentData.code + '&weight=' + currentData.weight
        });
    });
</script>

</body>

</html>
