@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

html, body {
    padding-top: 0;
    font-family: 'Fira Sans', sans-serif;
    background: #fff;
}

/* Main page */

.no-product {
    display: none;
}

.no-product {
    display: none;
}

.temp-block {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #414251;
    line-height: 100vh;
}

.main-block {
    width: 1060px;
    height: 380px;
    padding: 0 20px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: calc(50vh - 180px);
}

.img-block {
    float: left;
}

.img-block img {
    border-radius: 9px;
    background-color: #ffffff;
    padding: 10px;
    width: 500px;
    height: 360px;
    overflow: hidden;
    border: solid 1px #eaeaea;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.info-block {
    float: right;
    width: 500px;
    padding-left: 30px;
    height: 100%;
    position: relative;
}

.info-block h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.04;
    color: #414251;
}

.info-block .country {
    font-size: 24px;
    line-height: 1.17;
    text-align: left;
    color: #a4a4aa;
}

.info-block p {
    padding-top: 45px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    color: #a4a4aa;
}

.footer {
    width: 500px;
    bottom: 0;
    position: absolute;
}

.cost {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.04;
    letter-spacing: -0.3px;
    text-align: left;
    color: #414251;
    bottom: 0;
    float: left;
}

.btn {
    float: right;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 5px 10px rgba(41, 140, 255, 0.5);
    width: 150px;
    height: 46.9px;
    border-radius: 100px;
    background-color: #298cff;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.05s linear;
}

.btn:hover {
    background-color: rgb(31, 130, 245);
}

.btn:focus {
    outline:none !important;
}

.btn, .btn:active, .btn:focus, .btn::-moz-focus-inner {
    outline: none !important;
    border: 0;
}

.block-ok {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    display: none;
    z-index: 999;
}

.block-ok-inner {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 100%;
    background-color: white;
    background-image: url("../img/check.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 240px;
    box-shadow: 0 0 10px #6DBDC5;
}

@media (max-width: 1200px) {
    .main-block {
        width: 860px;
    }
    .info-block {
        width: 400px;
    }
    .img-block img {
        width: 400px;
        height: 230px;
    }
    .info-block p {
        font-size: 16px;
    }
    .info-block h1 {
        font-size: 38px;
    }

    .info-block .country {
        font-size: 20px;
    }

    .footer {
        width: 400px;
    }
}

/* History */

.history h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.04;
    color: #414251;
    margin-bottom: 30px;
}

.history .history-elem {
    border-radius: 3px;
    border: solid 1px #eaeaea;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 70px;
    margin-top: 20px;
}

.history img {
    width: 100px;
    height: 70px;
    float: left;
}

.history .title {
    float: left;
    line-height: 70px;
    font-size: 30px;
    margin-left: 20px;
}

.history .cost {
    float: right;
    line-height: 70px;
    font-size: 30px;
    padding-right: 20px;
}

.sum {
    line-height: 70px;
    font-size: 30px;
    text-align: right;
    padding-bottom: 50px;
}