* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 0px;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/greyzz.png");
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

img {
    /*border: 10px solid lightgray;*/
    max-height: 430px;

}

/*img:hover {*/
    /*border: 10px solid #ff5e5e;*/
/*}*/

ul {
    list-style: none;
    margin-left: 0px !important;
}

.info {
    font-size: 20px;
    /*padding: 10px 10px 10px 10px;*/
    margin-top: 20px;
    width: 100%;
}

.cost {
    font-size: 30px;
    font-weight: bold;
    color: green;
    height: 100px;
    line-height: 100px;
    float: left;
}

.costinf {
    float: right;
    height: 150px;
    line-height: 50px;
}

.cost, .costinf {
    /*color: white;*/
}

#image {
    margin-top: 10px;
}